#toplevel_page_DecisionTree-decision_tree_dashboard .wp-menu-image:before{
    font-family: FontAwesome;
    content: '\f0e8';
    display: inline-block;
    font-size: 18px;
    padding-left: 4px;
    color: #999;
    padding-top: 4px;
}